<h1>Dashboard</h1>
<div>
  <h2>Event</h2>
  <div>
    <%= link_to('events', events_path) %>
  </div>
  <div>
    <%= link_to('new event', new_event_path) %>
  </div>
</div>
<div>
  <h2>Restaurant</h2>
  <div>
    <%= link_to('restaurants', restaurants_path) %>
  </div>
  <div>
    <%= link_to('new restaurant', new_restaurant_path) %>
  </div>
</div>
