<%= collection_check_boxes(:dish, :ids, @dishes, :id, :name, {include_hidden: false}) do |b| %>
  <div class="col-md-6">
    <%= b.label class: 'checkbox' do %>
      <div class="row">
        <%= b.check_box class: 'checkbox' %>
        <%= b.label %>
      </div>       
    <% end %>
  </div>
<% end %>
