<tr>
  <td>
    <%= restaurant.name %>
  </td>
  <td>
    <%= restaurant.phone_number %>
  </td>
  <td>
    <%= restaurant.address %>
  </td>
  <td>
    <%= link_to('menu', restaurant) %>
  </td>
</tr>
