.dish-check-box {
  overflow: hidden;
}

.require-participant-text {
  color: red;
}

.require-dish-text {
  color: red;
}

body {
  background-color: #f8f8f8;
  padding: 20px 0 20px 0;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Set image behind everything */
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Event List Style */
.post-preview a {
  color: #333333;
}
.post-preview > a {
  color: #333333;
}
.post-preview a:hover,
.post-preview a:focus {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
/* Event List Style */

/* Navbar Style */
$bgDefault      : #ffffff;
$bgHighlight    : #ffffff;
$colDefault     : #0d0d0d;
$colHover       : #989898; 

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  margin-bottom: 0;
  padding: 10px 0 10px 0;
  border: 0px 0px 10px 0px;
  border-color: #d2d2d2;
  .navbar-brand {
    color: $colDefault;
    font-family: sans-serif;
    font-size: 23px;
    &:hover, &:focus {
  color: $colHover; }}
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
    color: $colHover;   }}}
    .active {
      > a, > a:hover, > a:focus {
        color: $colHover;
    background-color: $bgHighlight; }}
    .open {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
        .caret {
          border-top-color: $colHover;
    border-bottom-color: $colHover; }}}
    > .dropdown {
      > a {
        .caret {
          border-top-color: $colDefault;
        border-bottom-color: $colDefault; }
        &:hover, &:focus {
          .caret {
            border-top-color: $colHover;
  border-bottom-color: $colHover; }}}}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
    background-color: $bgHighlight; }
    .icon-bar {
background-color: $colDefault; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover;
  background-color: $bgHighlight; }}
}
/* Navbar Style */
